h1{
    color: hsl(348, 10%, 10%);
}
body{
    background-color: rgb(194, 196, 204);
    text-align: center;
}
button{
    background-color: rgb(122, 233, 224);
    margin: 1rem;
    padding: 10px;
}
.container{
    width: 100%;
    margin: 1rem;
    
    
}
input{
    background-color: rgb(94, 177, 209);
    padding: 10px;
    margin: 1rem;
    height: 20px;
}


